/* **************************************************************************
   $Id:$

 Author      : <author>
 Project     : <project>
 Description : <description>

 COPYRIGHT (c) <copydate> by <company>

 All rights are reserved. Reproduction in whole or in part is
 prohibited without the written consent of the copyright owner.

 ***************************************************************************
*/

// ***************************************************************************
// Module Definition
// ***************************************************************************

`include "uvm_macros.svh"

module <name> 
  #( // module parameters
   ) 
   (   
	// input ports 
	input
	// output ports 
	output	 
	);

timeunit 1ns;
timeprecision 10ps;

   import uvm_pkg::*;
  
   // ***************************************************************************
   // Local Object Declarations
   // ***************************************************************************
   
   // ***************************************************************************
   // Module Instantiations
   // ***************************************************************************
   
   // ***************************************************************************
   // Behavioral Code or RTL Code 
   // ***************************************************************************
   
   // ***************************************************************************
   // Task and Function Definitions
   // ***************************************************************************
   
   // ***************************************************************************
   // Checking Code and Assertions
   // ***************************************************************************

   // synopsys translate_off
   //`ifdef SVA_ON
   //`endif
   // synopsys translate_on
   
   // ***************************************************************************
   // End of Module
   // ***************************************************************************

endmodule
