/* **************************************************************************
   $Id:$

 Author      : <author>
 Project     : <project>
 Description : <description>

 COPYRIGHT (c) <copydate> by Verilab GmbH

 All rights are reserved. Reproduction in whole or in part is
 prohibited without the written consent of the copyright owner.

 ***************************************************************************
*/

// ***************************************************************************
// Interface Definition
// ***************************************************************************

interface <name> (
                 // Interface ports
                 );

   // ***************************************************************************
   // Local Object Declarations
   // ***************************************************************************

   // ***************************************************************************
   // Interface Signals (4-state logic)
   // ***************************************************************************

   // ***************************************************************************
   // Behavioral Code or RTL Code 
   // ***************************************************************************

   // ***************************************************************************
   // Clocking Blocks
   // ***************************************************************************

   // ***************************************************************************
   // Modports
   // ***************************************************************************
   
   // ***************************************************************************
   // Task and Function Definitions
   // ***************************************************************************
   
   // ***************************************************************************
   // Instantiations
   // ***************************************************************************
   
   // ***************************************************************************
   // Checking Code and Assertions
   // ***************************************************************************

   // synopsys translate_off
   //`ifdef SVA_ON
   //`endif
   // synopsys translate_on

   // ***************************************************************************   
   // End of Interface  
   // ***************************************************************************
endinterface : <name>

